<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @software_category.name %>
</p>


<%= link_to 'Edit', edit_software_category_path(@software_category) %> |
<%= link_to 'Back', software_categories_path %>
