.nav {
    font-size: 14px;
}

.nav li > img {
    padding-right: 8px;
    padding-top: 12px;
    padding-left: 3px;
}

.nav li {
    padding-right: 7px;
}

.navbar .nav li > a:hover {
    color: #0E1FC4;
}

.btn-group.pull-right {
    margin: 6px;
    padding-top: 5px;
}

.btn.dropdown-toggle {
    font-size: 12px;
}

.dropdown-menu li {
    font-size: 14px;
}

h1 {
    font-size: 36px;
}
